{# @var api array #}
{# @var module Statik\Blocks\StartTemplate\Cards #}

{% apply spaceless %}
    <div class="start-template">
        {# REQUIRED IF USE SSR! #}
        {# Start typing here... #}
    </div>
{% endapply %}