.main-header__mobile-nav {
  align-items: center;
  display: flex;

  @include respond-to('xl') {
    display: none;
  }
}

.main-header__mobile-menu-toggle {
  background-color: transparent;
  border: 1px solid #444;
  cursor: pointer;
  padding: 0.75rem 0.5rem;
}

.main-header__mobile-menu {
  background-color: $color-primary-contrast;
  display: flex;
  height: 100%;
  left: 100%;
  overflow: auto;
  position: fixed;
  top: 0;
  transform: translate(0);
  transition: transform 0.5s;
  width: 100%;
  z-index: -1;
}

.main-header__mobile-menu > .menu {
  padding-top: 100px;
  width: 100%;
}

.main-header__mobile-menu .menu__link {
  display: inline-block;
  padding: 5px 0;
}


.main-header__mobile-menu .menu__item {
  overflow: hidden;
  position: relative;
} 

.main-header__mobile-menu .menu__list {
  margin: 0;
  padding: 0 5px;
  text-align: center;
  transition: all 1s;
}

.main-header__mobile-menu--active {
  transform: translate(-100vw);
}

