{# @var Statik\Blocks\CustomBlocks\Statik\PostTypeCards\PostTypeCards blockType  #}
{# @var Statik\Blocks\Block\Block block #}
{# @var string innerContent #}


<div class="wp-block-{{block.getAttributes('blockId')}} wp-block-statik-post-type-cards wp-block-statik-post-type-cards--{{block.getAttributes('postType')}}">
    <div class="wp-block-statik-post-type-cards__loading"></div>
</div>
