/// Default font family applied to all html tags
/// @group Typography
/// @type List
$font-family: 'Poppins', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Headings Font Family
/// @type List
$font-family-headings: 'Poppins', 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial',
  sans-serif !default;

/// Pre tag font family
/// @group Typography
/// @type List
$font-family-pre: 'Courier 10 Pitch', Courier, monospace !default;

/// Code tag font family
/// @group Typography
/// @type List
$font-family-code: monospace, monaco, Consolas, Lucida Console !default;

/// Default font size and base value for all typography related.
/// The variable expects absolute unit like pixels.
/// @type Size
$font-size-base: 10px !default;

/// Font size of body tag.
/// @group Typography
/// @type String
$font-size: $font-size-base * 1.6 !default;

/// Alternative smaller font size.
/// @group Typography
/// @type String
$font-size-small: $font-size-base * 1.2 !default;

/// Font size of a H1 tag. The variable expects either absolute
/// or relative units. By default it is font size multiplied
/// by 3
/// @group Typography
/// @type String
$font-size-h1: $font-size * 3.5 !default;

/// Font size of a H2 tag. The variable expects either absolute
/// or relative units. By default it is font size multiplied
/// by 2
/// @group Typography
/// @type String
$font-size-h2: $font-size * 2.25 !default;

/// Font size of a H3 tag. The variable expects either absolute
/// or relative units. By default it is font size multiplied
/// by 3
/// @group Typography
/// @type String
$font-size-h3: $font-size * 1.5 !default;

/// Font size of a H4 tag. The variable expects either absolute
/// or relative units. By default it is font size multiplied
/// by 1.3
/// @group Typography
/// @type String
$font-size-h4: $font-size * 1.3 !default;

/// Font size of a H5 tag. The variable expects either absolute
/// or relative units. By default it is font size multiplied
/// by 1.5
/// @group Typography
/// @type String
$font-size-h5: $font-size * 1.1 !default;

/// Font size of a H1 tag. The variable expects either absolute
/// or relative units. By default it is font size multiplied
/// by 1.2
/// @group Typography
/// @type String
$font-size-h6: $font-size * 0.9 !default;

/// Font Weights
/// @type String
$font-weight-light: 300 !default;
$font-weight-regular: 500 !default;
$font-weight-bold: 700 !default;
$font-weight-black: 900 !default;

///Line Heights
/// @type String
$font-line-height-body: 1.5 !default;
$font-line-height-heading: 1.1 !default;
$font-line-height-extras: 2 !default;

/// Font Weitgts dedicated for particular types of heading
$font-weight-h1: $font-weight-bold !default;
$font-weight-h2: $font-weight-bold !default;
$font-weight-h3: $font-weight-regular !default;
$font-weight-h4: $font-weight-light !default;
$font-weight-h5: $font-weight-bold !default;
$font-weight-h6: $font-weight-bold !default;
