{# @var Statik\Blocks\CustomBlocks\Statik\TeamMembersCards\TeamMembersCards blockType  #}
{# @var Statik\Blocks\Block\Block block #}
{# @var string innerContent #}


<div class="wp-block-{{block.getAttributes('blockId')}} wp-block-statik-team-member-cards">

</div>