{# @var Statik\Blocks\CustomBlocks\Statik\VideoCards\VideoCards blockType  #}
{# @var Statik\Blocks\Block\Block block #}
{# @var string innerContent #}


<div class="wp-block-{{block.getAttributes('blockId')}}  wp-block-statik-video-cards">
</div>