.pagination {}

.pagination__list {
  display: flex;
  list-style: none;
  justify-content: center;
}

.pagination__list-item a {
  padding: 10px;
  cursor: pointer;
}

.pagination__list-item {
  border-bottom: 1px solid transparent;
}

.pagination__list-item.active, .pagination__list-item:hover {
  border-bottom: 1px solid black;
}


.pagination__list-item--disabled {
  opacity: 0.5;
}

.pagination__list-item--pre-ellipsis,
.pagination__list-item--post-ellipsis {
  opacity: 0.5;
  user-select: none;
}

.pagination__list-item--active a {
  font-weight: bold;
}
