.wp-block-pullquote {
  p {
    margin: 0;
    padding: 0;
  }

  a {
    color: currentColor;
  }

  .wp-block-pullquote__citation,
  cite,
  footer {
    color: currentColor;
    display: block;
    text-transform: none;
  }
}
